@import '../../node_modules/normalize.css/normalize.css';
//read: https://www.thoughtco.com/using-import-in-css-3464234

@import "custom";
@import "../../node_modules/bootstrap/scss/bootstrap-grid";

@import 'config';

body {
	background-color: $bg;
}

@mixin bold-font() {
	font-family: "Arial Black", Sans-Serif;
	font-weight: 900;
	font-size: 240px;
	letter-spacing: -0.05em;
	line-height: 240px;
	text-transform: uppercase;
	margin: 0;
}

.first-view{
	height: 100vh;
	width: 100%;
	overflow: hidden;
}
.bold-move-step1 {
	position: absolute;
	bottom: 0;
	width: 100%;
	h1{
		color: $font_white;
		@include bold-font();
	}
	// .cover{
	// 	position: absolute;
	// 	bottom: 0;
	// 	z-index: -1;
	// 	width: 100%;
	// }
}
.bold-move-step2{
	h1{
		@include bold-font();
	}
}

.clear:after {
	content: "";
	display: table;
	clear: both;
}

.cover{
	background-image: url('../images/cover-background.jpg');
	background-size: cover;
	background-position: center top;
}