@import '../../node_modules/normalize.css/normalize.css';
//read: https://www.thoughtco.com/using-import-in-css-3464234

@import "custom";
@import "dev";
@import "../../node_modules/bootstrap/dist/css/bootstrap-grid";

@import 'config';

body {
	background-color: $bg;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 900;
}

input {
	border: 2px solid $funky_yellow;
	padding: 8px;
	font-size: 20px;
	margin: 4px;
}
input[type=submit]{
	font-weight: 900;
	text-transform: uppercase;
}

label {
	text-transform: uppercase;
	

}

@mixin bold-font() {
	font-family: "Arial Black", Sans-Serif;
	font-weight: 900;
	font-size: 20vw;
	letter-spacing: -0.05em;
	line-height: 0.9em;
	text-transform: uppercase;
	margin: 0;
	vertical-align: text-top;
}

.first-view{
	height: 100vh;
	overflow: hidden;
}
.bold-move-step1 {
	position: absolute;
	bottom: 0;
	h1{
		color: $font_white;
		@include bold-font();
	}
	// .cover{
	// 	position: absolute;
	// 	bottom: 0;
	// 	z-index: -1;
	// 	width: 100%;
	// }
}
.bold-move-step2{
	
	background-image: $funky_bg;
	h1, h2, h3{
		@include bold-font();
		color: $funky_yellow;
	}
	h2 {
		padding: 10vh 0;
		font-size: 5vw;
		color: $funky_magenta;
	}
	h3 {
		font-size: 3vw;
	}
}

.clear:after {
	content: "";
	display: table;
	clear: both;
}

.cover{
	background-image: url('../images/cover-background.jpg');
	background-size: cover;
	background-position: center top;
}